extends layout

block content
	h1 Profile

	dl
		dt Display name
		dd #{user.displayName}
		dt Email
		dd #{user.email}
		dt Name ID format
		dd #{user.nameIDFormat}
		dt Name ID
		dd #{user.nameID}
	a(href="/logout") Logout
